body {
    background-image: url("Estrellas.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: sans-serif;
}

.contenedor {
    text-align: center;
    margin-top: 20px;
}

.h1 {
    color: aqua;
    font-family: sans-serif;
}

a {
    color: rgb(0, 255, 34);
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.marquee-box {
    display: block;
    padding: 20px;
    color: rgb(255, 238, 0);
    font-size: 40px;
    text-align: center;

    border: 6px solid transparent;
    border-radius: 50px;

    background:
        linear-gradient(rgba(0, 0, 0, 0), black) padding-box,
        linear-gradient(10deg, red, lime, red) border-box;

    background-size: 300% 300%;
    animation: moveBorder 10s linear infinite;
}
/*de aqui para abajo debo admitir que busque tutorials en youtube y un poco de ayuda a chat gpt*/
/* eta e la animacion del borde del */
@keyframes moveBorder {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
.cuadro {
    background-color: rgb(25, 0, 255);
    color: white;
    padding: 15px;
    margin: 20px auto;
    width: 300px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
}

